header {
    background-color: #000d19;
    position: fixed;
    top: 0;
    width: 100%;
}


main {
  width: 80vw;
  margin: 0 auto;
}

footer {
  opacity: 0.9;
  height: 25vh;
  margin-top: 10vh;
  background-color: #000d19;
}
