@media only screen and (max-width: 660px) {
    
    .fullscreen-bg {
        background: url('../img/allHeroesEdited.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }

    header {
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    header nav {
        display: block;
        margin: 0 auto;
    }

    header nav section img {
        margin: 0 auto;
        display: block;
    }

    #nav-menu {
        display: none;
    }

    .nav-item {
        display: block;
        width: 100%;
        height: 4em;
        line-height: 4em;
        text-align: center;
        background-color: black;
        /* border: 1px solid gray; */
        /* color: #252321; */
    }

    .nav-item-contrast {
        display: block;
        width: 100%;
        height: 4em;
        line-height: 4em;
        text-align: center;
        background-color: #8d1c17;
    }

    #icon:click + #nav-menu {
        display: block;
    }

    header nav a {
        color: white;
        text-align: center;
        font-size: 25px;
        padding: 1%;
        width: 20%;
    }

    nav a:hover {
        color: #3681EA;
    }

    nav a:hover {
        text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
    }

    main section ul li {
        width: 300px;
        height: 200px;
        margin: 4% auto;
        background-color: black;
        border: 4px solid #8d1c17;
    }

    ul li div {
        margin: 0 auto;
    }

    ul li div h2 {
        text-align: center;
        padding-top: 9px;
        padding-bottom: 3px;
    }

    ul li div img {
        display: block;
        margin: 0 auto;
        padding: 2.5%;
    }
}

@media only screen and (min-width: 661px) and (max-width: 959px) {

    .fullscreen-bg {
        background: url('../img/allHeroesEdited.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }

    header {
        display: block;
        width: 100%;
        height: 100%;
        background-color: black;
    }
    
    header nav {
        display: block;
        margin: 0 auto;
    }

    header nav section img {
        margin: 0 auto;
        display: block;
    }

    #nav-menu {
        display: none;
    }

    .nav-item {
        display: block;
        width: 100%;
        height: 4em;
        line-height: 4em;
        text-align: center;
        background-color: black;
        /* border: 1px solid gray; */
        /* color: #252321; */
    }

    .nav-item-contrast {
        display: block;
        width: 100%;
        height: 4em;
        line-height: 4em;
        text-align: center;
        background-color: #8d1c17;
    }

    main section ul li {
        display: inline-block;
        width: 300px;
        height: 200px;
        margin: 0 auto;
        background-color: black;
        border: 4px solid #8d1c17;
    }

    ul li div {
        margin: 0 auto;
    }

    ul li div h2 {
        text-align: center;
        padding-top: 9px;
        padding-bottom: 3px;
    }

    ul li div img {
        display: block;
        margin: 0 auto;
        padding: 2.5%;
    }
}

@media only screen and (min-width: 960px) {
    .fullscreen-bg {
        background: url('../img/allHeroesEdited.jpg') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}



footer {
    background-color: black;
    display: block;
    width: 100%;
    height: 200px;
    z-index: 0;
}

footer ul {
    display: block;
}

footer ul li {
    display: inline-block;
}