nav {
  text-align: center;
}

nav img {
  width: 180px;
}

#nav-menu {
  display: none;
}

#nav-menu li {
  font-size: 25px;
  height: 2.2em;
  line-height: 2.2em;
  background-color: black;
}

#nav-menu li:nth-of-type(odd) {
  background-color: #8d1c17;
}

#nav-menu li:hover {
  color: #3681EA;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
}

#icon:click + #nav-menu {
    display: block;
}

#hero-view-list {
  text-align: center;
}

#hero-view-list li {
  background-color: black;
  border: 4px solid #90a0c0;
  margin: .5vw;
  display: inline-block;

}

#hero-view-list img {
  max-width: 100vw;
}

#hero-view-list h2 {
  font-size: 1.5em;
  margin: .25em;
}


/****************/

form {
  width: 100vw;
  margin-top: 185px
}

.custom-select-wrap {
  position: relative;
  height: 48px;
}

.custom-select {
  position: absolute;
  /* width: 300px; */
  width: 100%;
  background-color: rgba(0, 13, 25, .5);
  font-size: 24px;
  line-height: 48px;
  border: 1px solid #90a0c0;
  border-radius: 4px;
}

.custom-select input {
  cursor: pointer;
  outline: none;
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  text-indent: 15px;
  text-align: center;
  background-color: rgba(0, 13, 25, 0);
}

.custom-select-menu {
  display: none;
  background-color: rgba(0, 13, 25, 1);
  text-indent: 15px;
}

.custom-select-menu li {
  text-align: center;
  margin: 0;
  border-top: 1px solid #90a0c0;
}
.z-index-nine {
  z-index: 9;
}

/* .sort-select div:nth-of-type(n+2) {
  display: none;
} */

/****************/

@media screen and (min-width: 640px) {

  body {
    margin-top: 280px;
  }

  #nav-menu {
    display: block;
  }

  #nav-menu li {
    display: inline-block;
    background-color: inherit;
    color: #90a0c0;
    margin: 10px;
  }

  #nav-menu li:nth-of-type(odd) {
    background-color: inherit;
  }
  #stats-div ul {
    columns: 2;
  }

}
