/* navigation menu styling */

nav {
  text-align: center;
}

nav img {
  width: 100px;
}

header h3 {
  color: #fff;
  font: 36px Cinzel;
  margin: 0 0 10px;
  position: absolute;
  margin-left: 31px;
  margin-top: 29px; 
}

header h3 span {
  color: #832522
}

#icon {
  float: right;
}

#nav-menu {
  display: none;
  color: white;
}

#nav-menu li {
  font-size: 25px;
  height: 2.2em;
  line-height: 2.2em;
  background-color: #8d1c17;
}

#nav-menu li:hover {
  color: #90a0c0;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 1), 0 0 5px rgba(255, 255, 255, 0.8), 0 -4px 15px rgba(255, 255, 255, 0.5);
}

#nav-menu.is-visible {
  display: block;
}


/* hero list view on mobile */

#hero-view {
  margin-top: 140px;
}

#hero-view-list {
  text-align: center;
}

#hero-view-list li {
  background-color: black;
  border: 4px solid #90a0c0;
  margin: .5vw;
  display: inline-block;
}

#hero-view-list img {
  max-width: 100vw;
}

#hero-view-list h2 {
  font-size: 1.5em;
  margin: .25em;
}

/* desktop view styling */

@media screen and (min-width: 780px) {
  body {
    margin-top: 280px;
  }
  /* #nav-menu {
    display: block;
    position: absolute;
    margin-top: 1.5%;
    margin-left: 21%;
  } */
  /* #nav-menu li {
    display: inline-block;
    background-color: inherit;
    color: white;
    margin: 10px;
  } */
  #nav-menu li.is-hidden {
    display: none;
  }
  #nav-menu li:nth-of-type(odd) {
    background-color: inherit;
  }


  /* desktop styling for stats page */

  #hero-header {
    width: 100%;
  }

  /* #hero-header div {
    background-color: rgba(255, 255, 255, 0.05); */
    
    /* left: -25%;
    position: relative; */
  }

  #stats-div ul {
    columns: 2;
    /* background-color: rgba(255, 255, 255, 0.05); */
    font-size: 1.5em;
  }

  #stats-div h3 {
    font-size: 1.5em;
  }

  /* #average-stats li:last-of-type {
    
  } */

  #icon {
    float: right;
  }

}